* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Fjalla One', sans-serif;
  font-size: 62.5%;
}
header {
  background-color: #00BBFF;
  opacity: 0.8;
}
@media (max-width: 500px) {
  header {
    width: 100%;
  }
}
nav {
  display: flex;
  justify-content: space-around;
}
nav h1 {
  font-size: 45px;
  width: 30px;
  opacity: 1;
}
@media (max-width: 500px) {
  nav h1 {
    display: none;
  }
}
nav input {
  align-self: flex-end;
  margin-bottom: 65px;
  opacity: 1;
}
nav img {
  width: 100px;
  height: 100px;
  margin-left: 340px;
  margin-top: 10px;
  opacity: 1;
}
@media (max-width: 500px) {
  nav img {
    margin-left: -20px;
  }
}
nav button {
  align-self: flex-end;
  margin-bottom: 65px;
  opacity: 1;
}
.intro-section .intro-img {
  margin-top: -315px;
  background-image: url("girl-jogging.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.divider {
  background-color: #99ff99;
  height: 500px;
  margin-top: -25px;
}
.divider h1 {
  text-align: center;
  font-size: 3.5rem;
}
.divider p {
  line-height: 1.5;
  font-size: 2rem;
}
.divider .p-tag-div {
  margin: 0 50px;
}
.intro-img-div h1 {
  font-size: 100px;
  color: #99ff99;
  position: absolute;
}
.mid-section {
  display: flex;
  justify-content: space-between;
}
.mid-section .mid-img {
  width: 50%;
}
.mid-section .mid-section2 {
  width: 50%;
  justify-content: center;
  margin: 0 100px;
  line-height: 1.5;
  font-size: 2rem;
}
footer div {
  font-size: 2rem;
}
